<tr id="<%= playlist_item.html_id %>" draggable="true">
  <td><%= playlist_item.position %></td>
  <td><%= playlist_item.playlistable.try :name %></td>
  <td>
    <%= form_with(model: [:reorder, playlist_item.playlist, playlist_item]) do |f| %>
      <%= f.label :duration, class: 'sr-only' %>
      <%= f.text_field :duration,
	        id: :playlist_item_duration,
	        autocomplete: :off,
	        class: 'form-control',
          size: 3 %>
    <% end %>
  </td>
  <td class="text-right">
    <%= button_to 'Copy', polymorphic_path([:reorder, playlist_item.playlist, :playlist_items],
        playlist_item: playlist_item.copy_attrs),
      data: { disable_with: '…' },
      class: 'btn btn-link',
      method: :create,
      remote: true %>

    <%= button_to raw('&times;'),
      [:reorder, playlist_item.playlist, playlist_item],
      data: { disable_with: '…' },
      class: 'btn btn-link',
      method: :delete,
      remote: true %>
  </td>
</tr>
